[common]
prompt = no

# rootCA stuff
[ca_extensions]
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, keyCertSign
subjectKeyIdentifier = hash
# issuerAltName = issuer:copy

## Key Usage in leaf is ignored by go implementation

# client stuff
[client_extensions]
basicConstraints = critical, CA:false
keyUsage = critical, digitalSignature
extendedKeyUsage = critical, clientAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
# issuerAltName = issuer:copy

# server stuff
[server_extensions]
basicConstraints = critical, CA:false
keyUsage = critical, digitalSignature
extendedKeyUsage = critical, serverAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
# issuerAltName = issuer:copy
# Modify this localhost ip and replace it with static IP or DNS, its required for the clientSide auth to work
subjectAltName = IP:127.0.0.1