name: dispatch build

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        default: '1.0.0'

permissions:
  contents: write

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24.0'
  build:
    runs-on: ubuntu-latest
    needs: setup
    strategy:
      matrix:
        arch: ["amd64", "arm64"]
        os: "linux"
    steps:
      - id: build
        runs: make all
        env:
          ARCH: ${{ matrix.arch }}
          OS: ${{ matrix.os }}
          VERSION: ${{ inputs.version }}
      - id: upload-zip-binaries
        uses: actions/upload-artifact@v6
        with:
          name: wg-exchange-${{ matrix.os }}-${{ matrix.arch }}
          compression-level: 9
          path: build/

          
      
